
.news{

  .container{
        display:flex;

    table {
      border: none;
      border-collapse: collapse;
      font-size: $type-size-4;
    }

    th {
      border: none;
      font-weight: bold;
      text-align: left;
      border-right: none;
      margin-right: 0em;
      padding-right: 0em;
      font-size: $type-size-4;
      min-width: 0.25em;
      vertical-align: top;
      padding-bottom: 0.2em;
      padding-top: 0.2em;
    }

    td {
      border: none;
      border-bottom: none;
      border-right: none;
      padding-left: 1em;
      padding-bottom: 0.2em;
      padding-top: 0.2em;
      font-size: $type-size-3;
      text-align: justify;
    }
}
}
