
.news{

    table {
      width: 100%;
      border: none;
      border-collapse: collapse;
      white-space: nowrap;
      font-size: $type-size-4;
    }

    th {
      border: none;
      padding: 0.4em;
      font-weight: bold;
      text-align: left;
      border-right: none;
      margin-right: 0em;
      font-size: $type-size-4;
      min-width: 0.25em;
    }

    td {
      border: none;
      width: 100%;
      padding: 0.4em;
      border-bottom: none;
      border-right: none;
      font-size: $type-size-3;
      padding-left: 0.4em;
    }



}
